*{ font-family: "Titillium Web", sans-serif; }

body {
    background: #246192;
}
h1 {
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-size: 72px;
}
.container {
    margin-top: 30px;
}
.pic_layout {
    margin-top: 40px;
}
