<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Hack112 PhotoBooth</title>

    <meta charset="UTF-8">
    <meta name="author" content="Rohan Jadvani">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
      <h1>Hack 112 Photobooth</h1>
      <hr />
      <div class="pic_layout">
        {% for pic_row in pic_rows %}
          <div class="row">
            {% for pic in pic_row %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{{ pic }}" target="_blank">
                  <img class="img-responsive" src="{{ pic }}" alt="">
                </a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37148296-16', 'auto');
      ga('send', 'pageview');
    </script>
  </body>

</html>
