<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Hack112 PhotoBooth</title>

    <meta charset="UTF-8">
    <meta name="author" content="Rohan Jadvani">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      {% for pic_row in pic_rows %}
        <div class="row">
          {% for pic in pic_row %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#">
                <img class="img-responsive" src="{{ pic }}" alt="">
              </a>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </body>

</html>
